<section>
  <div class="container-fluid">
      <div class="container">
          <div class="">
              <form  [formGroup]="RegisterForm" (submit)="OnSubmit(RegisterForm)" class="row   justify-content-center" >
                  <div  class="border align-content-center col-5 p-5">
                  <div class="row py-2 ">
                      <div class="h2 text-center">
                          Add Me
                      </div>
                  </div>
                  <div class="row py-2">
                      <input class="form-control" id="name" formControlName="Name" type="text" placeholder="Product Name..." aria-label="default input example">

                  </div>
                  <div class="row py-2">
                      <input class="form-control" id="description" formControlName="email" type="text" placeholder="Email..." aria-label="default input example">

                  </div>
                  <div class="row py-2">
                      <input class="form-control" id="Price" type="number"  formControlName="password" placeholder="password..." aria-label="default input example">

                  </div>
                  <div class="row py-2">
                      <input class="form-control" type="text" id="Quantity" formControlName="businessname" placeholder="Business name..." aria-label="default input example">

                  </div>

                  <div class="row py-2">

                      <button class="btn btn-primary" type="submit">Add</button>
                  </div>
              </div>
          </form>

          </div>
      </div>
  </div>
</section>
